{% extends 'base.html.twig' %}

{% block title %}MyQuiz - Profil{% endblock %}

{% block body %}


<div class="container test">
<div class="row mb-5 mt-3 d-flex justify-content-center">
    <h1>Mon profil</h1>
</div>
<div class="row d-flex justify-content-center">
    <h4>Email : {{ app.user.email }}</h4>
</div>
<div class="row d-flex justify-content-center">
    <h4>Pseudo : {{ app.user.pseudo }}</h4>
</div>
<div class="row d-flex justify-content-center">
    <h4>Nom : {{ app.user.name }}</h4>
</div>
<div class="row d-flex justify-content-center">
    <h4>Prénom : {{ app.user.firstname }}</h4>
</div>
<div class="row d-flex justify-content-center mt-5">  
    <a href="{{path('modifier')}}" class="btn btn-lg btn-primary bg-lightblue border-lightblue text-green">
    Modifier le profil</a>
</div>
<div class="row d-flex justify-content-center mt-3">
    <a href="/reset-password" class="btn btn-lg btn-primary bg-lightblue border-lightblue text-green">
    Modifier le mot de passe</a>
</div>
    
</div>
{% endblock %}
