<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}MyQuiz
			{% endblock %}
		</title>
		
		{# Run `composer require symfony/webpack-encore-bundle`
		and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link
		rel="stylesheet" href="/template-css/style.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">  
			{#{{ encore_entry_link_tags('app') }}#}
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body class="font-family fullscreen text-green bg-blue">
		<nav class="navbar navbar-expand-lg bg-darkblue">
			<a class="navbar-brand" href="/"><img alt="logo" class="img-fluid" width="150" height="auto"src="/img/logo2.png"></a>
			<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarColor01" 
			aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					
					<li class="nav-item">
						<a class="nav-link text-green" href="{{ path('categories')}}">Quiz</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-green" href="#">Historique</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-green" href="#">À propos de nous</a>
					</li>
				
				</ul>
				{% if app.user is same as null %}
				<ul class="navbar-nav">
				<li class="nav-item">
						<a class="nav-link text-green" href="{{path('app_login')}}">Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-green" href="{{path('app_register')}}">Inscription</a>
					</li>
				</ul>
				{% elseif is_granted('ROLE_ADMIN') %}
				<ul class="navbar-nav">
				<li class="nav-item">
					<a href="{{path('users')}}" class="nav-link">{{ app.user.username }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-green" href="{{ path('admin') }}">Gérer les quizs/les utilisateurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-green" href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control bg-lightblue mr-sm-2" type="search" placeholder="Rechercher">
					<button class="btn bg-lightblue my-2 my-sm-0 text-green" type="submit">Rechercher</button>
				</form>
				{% else %}
				<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link text-green" href="/create/quiz">Créer un quiz</a>
				</li>
				<li class="nav-item">
					<a href="{{path('users')}}" class="nav-link text-green">{{ app.user.username }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-green" href="{{ path('app_logout') }}">Se déconnecter</a>
				</li>
				
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="bg-lightblue border-0 form-control mr-sm-2" type="search" placeholder="Rechercher">
					<button class=" text-green btn bg-lightblue my-2 my-sm-0" type="submit">Rechercher</button>
				</form>
				{% endif %}
				

				
			</div>
		</nav>
		<div class="container">
		{% block body %}{% endblock %}
		</div>
		
	</body>
</html>
